<svg
  *ngIf="type === 'download'"
  [class]="
    size === 'md' ? 'w-3 h-3' : size === 'lg' ? 'w-6 h-6' : 'w-2.5 h-2.5'
  "
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  [attr.stroke-width]="strokeWidth"
>
  <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
  <polyline points="7 10 12 15 17 10" />
  <line x1="12" y1="15" x2="12" y2="3" />
</svg>

<svg
  *ngIf="type === 'empty'"
  [class]="
    size === 'md' ? 'w-3 h-3' : size === 'lg' ? 'w-6 h-6' : 'w-2.5 h-2.5'
  "
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  [attr.stroke-width]="strokeWidth"
>
  <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
  <polyline points="14 2 14 8 20 8" />
</svg>

<svg
  *ngIf="type === 'close'"
  [class]="
    size === 'md' ? 'w-3 h-3' : size === 'lg' ? 'w-6 h-6' : 'w-2.5 h-2.5'
  "
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  [attr.stroke-width]="strokeWidth"
>
  <path d="M18 6 6 18M6 6l12 12" />
</svg>

<svg
  *ngIf="type === 'search'"
  [class]="
    size === 'md' ? 'w-3 h-3' : size === 'lg' ? 'w-6 h-6' : 'w-2.5 h-2.5'
  "
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  [attr.stroke-width]="strokeWidth"
>
  <circle cx="11" cy="11" r="8" />
  <path d="m21 21-4.35-4.35" />
</svg>
