<div class="search-panel actions-panel">
  <label class="search-label">{{ label }}</label>

  <div class="actions-grid">
    <app-button
      [label]="resetLabel"
      [icon]="'pi-refresh'"
      [variant]="'outline'"
      [buttonType]="'button'"
      [fullWidth]="true"
      [disabled]="resetDisabled"
      (clicked)="onReset($event)"
    ></app-button>

    <app-button
      [label]="searchLabel"
      [icon]="'pi-search'"
      [variant]="'filled'"
      [buttonType]="'button'"
      [fullWidth]="true"
      [disabled]="searchDisabled"
      (clicked)="onSearch($event)"
    ></app-button>
  </div>
</div>
