<h3>Search Logs</h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="col-md-4">
      <label class="form-label">Vehicle ID</label>
      <input class="form-control" formControlName="vehicle" />
    </div>
  
    <div class="col-md-4">
      <label class="form-label">Error Code</label>
      <input class="form-control" formControlName="code" />
    </div>
  
    <div class="col-md-4">
      <label class="form-label">Timestamp Range</label>
      <div class="input-group">
        <input type="date" class="form-control" formControlName="from" />
        <input type="date" class="form-control" formControlName="to" />
      </div>
    </div>
  
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>
  